/public/hot
/public/storage
/public/assets
/public/fonts
/public/mix-manifest.json
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
.env
package-lock.json
composer.lock


/node_modules
/vendor

/nbproject
/.idea
/.vagrant
/.vscode

tatus
tasks.txt